{% extends 'base.html' %}

{% block content %}
<!--    <div class="p-1 p-md-1 mb-4 text-white rounded bg-steel">-->
    <div class="text-white rounded bg-steel">
        <p class="fs-5 fst-italic fw-bold text-white">{{ question_edit.question_text }}</p>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Skill</th>
                    <th scope="col">Level</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for answer_unit in answer_list %}
                <tr>
                    <th scope="row">{{ answer_unit.answer_text }}</th>
                    <td>{{ answer_unit.answer_level }}</td>
                    <td>
                        <form action="{% url 'questionnary:delete_answer' answer_unit.pk %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-outline-danger btn-sm" type="submit" value="X"/>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>




        <table class="table">
            <tbody>
                <tr>
                    <td>
                        {{ form.errors }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <form id="addAnswerForm" method="POST" class="row g-3 align-items-center">
                        {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <label for="answer_text" class="form-label">New skill</label>
                                    <select id="answer_text" name="answer_text" class="selectpicker" data-style="btn-outline-secondary" data-live-search="true" aria-label=".form-select-sm example">
                                        {% for choice_unit in choice_list %}
                                            <option value="{{ choice_unit.choice_text }}">{{ choice_unit.choice_text }}</option>
                                        {% endfor %}
                                            <option value="Other">Other...</option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label for="answer_level" class="form-label">Level</label>
                                    <select id="answer_level" name="answer_level" class="selectpicker" data-style="btn-outline-secondary" aria-label=".form-select-sm example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>

                                <div class="col-md-8">
                                    <div id="otherchoice" class="otherchoice" style="display:none">
                                        <input type='text' class="form-control" name='other_choice' placeholder="Enter a not listed choice" />
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <button class="btn btn-outline-primary" onclick="document.getElementById('addAnswerForm').submit();">Send</button>
                                </div>
                            </div>

                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}